<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All documents</title>
    <link th:href="@{/css/table.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/tag_a.css}" rel="stylesheet" type="text/css">
</head>
<body>
<h3 align="center">My all documents</h3>
<h3 align="center"><a th:href="@{/document/new}">create document</a></h3>
<form th:action="@{/search}" method="post">
    <table class="rounded" align="center">
        <tr>
            <th>description</th>
            <th>click</th>
        </tr>
        <tr>
            <td><input type="text" id="description" name="description"></td>
            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">--> <!--fixme-->
            <td><input type="submit"></td>
        </tr>
    </table>
</form>
<br><br>
<table class="rounded" align="center">
<tr>
    <th>id</th>
    <th>description</th>
    <th>filesNames</th>
    <th>Is Update?</th>
    <th>Is delete?</th>
</tr>
<tr th:each="document : ${documentList}"> <!-- <td th:text="${documentList.size()}"></td>  -->
    <td th:text="${document.id}"></td>
    <td th:text="${document.description}"></td>
    <td>
        <div th:each="fileDocument : ${document.fileDocumentList}">
            <a th:href="@{/{id}(id=${fileDocument.id})}"><span th:text="${fileDocument.fileName}"></span></a>
        </div>
    </td>
    <td><a th:href="@{/update/{id}(id=${document.id})}">update</a></td>
    <td><a th:href="@{/delete/{id}(id=${document.id})}">delete</a></td>
</tr>
</table>


</body>
</html>