<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update document</title>
    <link th:href="@{/css/table.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/tag_a.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/button.css}" rel="stylesheet" type="text/css">
</head>
<body>
<h3 align="center">Update document</h3>
<p th:replace="~{fragments::logout}"></p>
<p th:replace="~{fragments::returnToMainPage}"></p>
<table class="rounded" align="center">
    <tr>
        <!--<th>id</th>-->
        <th>description</th>
        <th>filesNames</th>
        <th>Is Update?</th>
        <th>Is delete?</th>
    </tr>
    <tr>
        <!--<td th:text="${document.id}"></td>-->
        <td th:text="${document.description}"></td>
        <td>
            <div th:each="fileDocument : ${document.fileDocumentList}">
                <a th:href="@{/{id}(id=${fileDocument.id})}"><span th:text="${fileDocument.fileName}"></span></a>
            </div>
        </td>
        <td><a th:href="@{/update/{id}(id=${document.id})}">update</a></td>
        <td><a th:href="@{/delete/{id}(id=${document.id})}">delete</a></td>
    </tr>
</table>
<br>
<div align="center">
    <form th:action="@{/update/{id}(id=${document.id})}" method="post" enctype="multipart/form-data">

        <label for="description">description: </label><br>
        <input type="text" id="description" name="description" th:value="${document.description}" required><br>

        <label for="file">files: </label><br>
        <input type="file" id="file" name="files" multiple><br><br>

        <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
        <input type="submit">
    </form>
</div>
</body>
</html>